* {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
}

header {
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.hamburger {
  display: none;
}

nav {
  height: 50px;
}

.container {
  max-width: 1141px;
  margin: 0 auto;
}

.ul_header {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 11px 18px;
  padding-left: 67px;
}

.ul_header li {
  line-height: 25px;
  border-right: 2px dotted #000;
  padding-right: 28px;
}

.ul_header li a {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.ul_header li a:hover {
  text-decoration: none;
  color: #d4cdcd;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.row-logo {
  padding-left: 11px;
}

.sudheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  z-index: 2;
  margin-top: 50px;
}

.logo {
  max-width: 100%;
  display: block;
  margin-top: 17px;
}

.logo__text {
  margin-top: 2px;
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  opacity: .5;
}

.phone {
  padding-right: 7px;
}

.phone_text {
  margin-top: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}

.phone_number {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
  display: block;
}

.phone_small {
  display: none;
}

.btn_col {
  padding-right: 1px;
  padding-left: 25px;
}

.btn_call {
  margin: 20px 0;
  width: 172px;
  height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.btn:hover {
  background: #091fee;
  -webkit-transition: .8s;
  transition: .8s;
}

.about {
  padding-top: 149px;
  background: url(/img/uber_bg.jpg) center center/cover no-repeat;
  text-align: center;
  height: 850px;
}

.container h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 54px 0 22px 15px;
}

.driver {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.container p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.btn2 {
  width: 258px;
  height: 63px;
  margin: 89px 2px 186px 19px;
  text-transform: uppercase;
  font-size: 18px;
}

.btn2:hover {
  background: #091fee;
  -webkit-transition: .8s;
  transition: .8s;
}

.reasons {
  height: 849px;
  padding: 20px 0 64px 0;
}

.reasons_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.text_reason {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.label {
  width: 113px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: black;
  margin: 33px;
  display: block;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #222222;
  display: block;
  margin: 33px 0 16px 0;
  text-align: center;
}

span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.reasons_text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  text-align: left;
}

.icons {
  padding: auto 0;
  margin: 17px 19px 0 27px;
}

.mobile_app {
  height: 864px;
  background: url(../img/mobile_bg.png) center center/cover no-repeat;
  padding: 48px 0 80px 0;
}

.mobile_app .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
}

.text_app {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  margin-bottom: 23px;
  margin-top: -13px;
}

.row_card {
  max-width: 320px;
  height: 280px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 81px 0 41px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 9px;
}

.card_1 {
  background: url(../img/Card_1.png) no-repeat;
}

.card_2 {
  background: url(../img/Card_2.png) no-repeat;
}

.card_3 {
  background: url(../img/Card_3.png) no-repeat;
}

.card_4 {
  background: url(../img/Card_4.png) no-repeat;
}

.card_5 {
  background: url(../img/Card_5.png) no-repeat;
}

.card_6 {
  background: url(../img/Card_6.png) no-repeat;
}

.choice {
  height: 502px;
  background: #070716;
  padding-top: 56px;
}

.label_car {
  width: 89px;
  height: 24px;
  color: #070716;
  background: #FFFFFF;
}

.title_car {
  color: #FFFFFF;
  margin-top: 26px;
}

.subtitle_car {
  color: #FFFFFF;
}

.choice2 {
  height: 397px;
  background: url(../img/substrate.png) center center/cover no-repeat;
  position: relative;
}

.choice2_text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  padding-top: 210px;
  text-align: center;
  color: #222222;
}

.choice2_img {
  position: absolute;
  bottom: 184px;
  left: calc( 50% - 380px);
}

.requier {
  padding: 63px 0 38px 0;
}

.requier_block {
  margin: 10px 0 33px 0;
}

.requier_list {
  padding: 0px;
  list-style-type: none;
  padding-left: 50px;
}

.requier_list li {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  position: relative;
  color: #222222;
  display: block;
  padding-top: 5px;
}

.requier_list li:before {
  content: '';
  width: 21px;
  height: 20px;
  display: block;
  background: url("../img/check_blue.png");
  -webkit-transform: translate(2px 1px);
          transform: translate(2px 1px);
  position: absolute;
  left: -32px;
}

.requier_list_warning li:before {
  content: '';
  width: 21px;
  height: 20px;
  display: block;
  background: url("../img/check_red.png");
  -webkit-transform: translate(2px 1px);
          transform: translate(2px 1px);
  position: absolute;
  left: -32px;
}

.requier_nmb {
  margin-bottom: 45px;
  padding-top: 5px;
}

.requier_title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #1CA8C3;
}

.requier_title_warning {
  color: #FF5656;
  margin-bottom: 12px;
  padding-top: 4px;
}

.requier_discrition {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}

.label_requier {
  margin-bottom: 0px;
}

.title_requier {
  margin-bottom: 29px 0 19px 0;
}

.world {
  height: 720px;
  background-color: #080816;
}

.container_world {
  background: url(../img/world_bg.png) center center/cover no-repeat;
  padding: 49px 0 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1424px;
}

.city {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

footer {
  height: 156px;
  padding: 0px 22px 22px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  background-color: #070716;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 6px 0 0;
}

.footer_icons img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_nav {
  width: 493px;
  padding-left: 128px;
}

.footer_nav a {
  text-decoration: none;
}

.footer_row img {
  display: block;
  margin: 0 auto;
  padding-top: 13px;
}

.footer_market {
  margin: auto 0;
  padding-bottom: 21px;
}

.footer_market img {
  display: block;
  margin: auto 0;
}

.row_1 {
  margin: 30px 0 5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row_1 a {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}

.row_2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row_2 a {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}

.row_3 a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  display: block;
  margin-top: 13px;
}

@media (max-width: 1200px) {
  .phone_number {
    font-size: 18px;
  }
  .container h1 {
    font-size: 55px;
  }
  .row_card {
    max-width: 304px;
  }
  .footer_nav {
    padding: 0px 50px;
  }
  .text_reason .title {
    margin: 16px 0 16px 0;
  }
  .reasons_col {
    margin-bottom: 16px;
  }
  .mobile_app .row {
    padding: 0px 7px;
  }
  .container_world {
    background: url(../img/world_bg.png) center center/cover no-repeat;
  }
}

@media (max-width: 992px) {
  .footer_market img {
    display: block;
    margin: auto 0;
    width: 220px;
  }
  .footer_market img {
    display: block;
    margin: auto 0;
    width: 220px;
  }
  .row_1 a {
    font-size: 12px;
  }
  .ul_header {
    padding-left: 0px;
  }
  .ul_header li {
    padding-right: 7px;
  }
  .ul_header li a {
    font-size: 13px;
  }
  .container h1 {
    font-size: 47px;
  }
  .driver {
    font-size: 28px;
  }
  .container p {
    font-size: 19px;
  }
  .btn2 {
    width: 225px;
    height: 59px;
    margin-top: 90px;
    font-size: 17px;
  }
  .reasons_col {
    padding: 0px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .reasons_text {
    font-size: 13px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  span {
    font-size: 15px;
  }
  .text_reason .title {
    margin: 6px 0 7px 0;
  }
  .reasons {
    padding: 10px 0;
  }
  .row_card {
    max-width: 30%;
  }
  .mobile_app .row {
    padding: 0px 0px;
  }
  .offset-md-1 {
    margin-left: 4%;
  }
  .phone_number {
    font-size: 14px;
  }
  .footer_nav {
    padding: 0px 10px;
  }
  .logo__text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .choice {
    height: 450px;
    background: #070716;
    padding-top: 30px;
  }
  .title_car {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 30px;
  }
  .icons {
    margin: 0 auto;
  }
  .container_world {
    padding: 25px 0 0 0;
  }
  .logo__text {
    font-size: 12px;
  }
  .footer_market img {
    display: block;
    margin: auto 0;
    width: 220px;
  }
  .footer_nav {
    padding: 0px 10px;
  }
  .footer_links {
    padding: 15px 0 0 0;
  }
  .row_1 {
    margin: 10px 0;
  }
  .row_1 a {
    font-size: 12px;
  }
  .row_3 a {
    margin: 5px 0;
  }
  .container h1 {
    font-size: 35px;
  }
  .driver {
    font-size: 28px;
  }
  .container p {
    font-size: 19px;
  }
  .btn2 {
    width: 225px;
    height: 59px;
    margin-top: 90px;
    font-size: 17px;
  }
  .reasons {
    padding: 10px 0;
    height: 100%;
  }
  .reasons_col {
    padding: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons_text {
    font-size: 15px;
    text-align: center;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  span {
    font-size: 15px;
  }
  .text_reason .title {
    margin: 6px 0 7px 0;
    font-size: 28px;
  }
  .row_card {
    max-width: 30%;
  }
  .mobile_app .row {
    padding: 0px 0px;
  }
  .phone_number {
    font-size: 14px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ul_header li {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 10px;
  }
  .ul_header li a {
    font-size: 12px;
  }
  .logo {
    width: 210px;
  }
  .logo img {
    width: 100%;
  }
  .btn_call {
    width: 160px;
  }
  .btn_col {
    padding: 0px;
  }
  .phone {
    padding-right: 20px;
  }
  .choice2 {
    height: 250px;
  }
  .choice2_img {
    position: absolute;
    bottom: 125px;
    left: calc( 50% - 283px);
    width: 550px;
  }
  .choice2_text {
    padding-top: 116px;
  }
  .requier {
    padding: 30px 0;
  }
}

@media (max-width: 576px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 88%;
    height: 100%;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0px;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .logo {
    max-width: 105%;
    margin-top: 25px;
  }
  .title {
    font-size: 30px;
  }
  .ul_header li a {
    font-size: 19px;
  }
  .logo__text {
    display: none;
  }
  .phone {
    display: none;
  }
  .phone_small {
    display: block;
    font-size: 15px;
    text-align: center;
    margin: 5px 0;
  }
  .container h1 {
    font-size: 29px;
    margin: 25px 0;
  }
  .container p {
    font-size: 17px;
  }
  .container .driver {
    font-size: 23px;
    line-height: 30px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_nav {
    width: 100%;
  }
  .choice2 {
    height: 250px;
  }
  .choice2_img {
    width: 100%;
    bottom: 178px;
    left: -2%;
  }
  .mobile_app {
    height: 100%;
  }
  .row-logo {
    padding: 0 22px 0 0;
    margin: 0;
  }
  .row_card {
    max-width: 49%;
    margin: 0 0 10px;
  }
  .col_text {
    font-size: 20px;
  }
  .btn_call {
    height: 40px;
    margin: 0 auto;
    display: block;
  }
  .btn2 {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
  }
}

@media (max-width: 322px) {
  header {
    height: 32px;
  }
  .sudheader {
    height: 62px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
  }
  .logo__text {
    display: none;
  }
  .phone {
    display: none;
  }
  .ul_header li {
    padding: 10px 0px;
  }
  .container h1 {
    margin: 22px 0;
  }
  .btn_call {
    margin: 0px;
    width: 100%;
    height: 22px;
    font-size: 10px;
  }
  .btn_col {
    padding: 0 0 0 22px;
  }
  .about {
    height: 339px;
    padding-top: 101px;
  }
  .con2 h1 {
    font-size: 30px;
  }
  .con2 p {
    display: none;
  }
  .driver {
    font-size: 21px;
    line-height: 21px;
  }
  .row_card {
    max-width: 100%;
    height: 250px;
  }
  .choice {
    height: 400px;
  }
  .title {
    font-size: 25px;
  }
  .choice2 {
    height: 250px;
  }
  .choice2_img {
    width: 100%;
    bottom: 178px;
    left: calc( 50% - 165px);
  }
  .mobile_app {
    padding: 30px 0;
  }
  .reasons_text {
    padding: 5px 0 10px 0;
  }
  .footer_nav {
    width: 100%;
  }
  .footer_row img {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */